<p id="notice"><%= notice %></p>

<p>
  <strong>Father profs:</strong>
  <%= @finance.father_profs %>
</p>

<p>
  <strong>Mother profess:</strong>
  <%= @finance.mother_profess %>
</p>

<p>
  <strong>Father income:</strong>
  <%= @finance.father_income %>
</p>

<p>
  <strong>Mother income:</strong>
  <%= @finance.mother_income %>
</p>

<p>
  <strong>Other income:</strong>
  <%= @finance.other_income %>
</p>

<p>
  <strong>Economic status:</strong>
  <%= @finance.economic_status %>
</p>

<p>
  <strong>Income document:</strong>
  <%= @finance.income_document %>
</p>

<p>
  <strong>Rationa card:</strong>
  <%= @finance.rationa_card %>
</p>

<p>
  <strong>Bank statement:</strong>
  <%= @finance.bank_statement %>
</p>

<p>
  <strong>Bank name:</strong>
  <%= @finance.bank_name %>
</p>

<p>
  <strong>Bank account no:</strong>
  <%= @finance.bank_account_no %>
</p>

<p>
  <strong>User:</strong>
  <%= @finance.user_id %>
</p>

<%= link_to 'Edit', edit_finance_path(@finance) %> |
<%= link_to 'Back', finances_path %>
