<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @personal_detail.first_name %>
</p>

<p>
  <strong>Middle name:</strong>
  <%= @personal_detail.middle_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @personal_detail.last_name %>
</p>

<p>
  <strong>Dob:</strong>
  <%= @personal_detail.dob %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @personal_detail.gender %>
</p>

<p>
  <strong>Sibling:</strong>
  <%= @personal_detail.sibling %>
</p>

<p>
  <strong>S first name:</strong>
  <%= @personal_detail.s_first_name %>
</p>

<p>
  <strong>S middle name:</strong>
  <%= @personal_detail.s_middle_name %>
</p>

<p>
  <strong>S last name:</strong>
  <%= @personal_detail.s_last_name %>
</p>

<p>
  <strong>S dob:</strong>
  <%= @personal_detail.s_dob %>
</p>

<p>
  <strong>F first name:</strong>
  <%= @personal_detail.f_first_name %>
</p>

<p>
  <strong>F middle name:</strong>
  <%= @personal_detail.f_middle_name %>
</p>

<p>
  <strong>F last name:</strong>
  <%= @personal_detail.f_last_name %>
</p>

<p>
  <strong>F dob:</strong>
  <%= @personal_detail.f_dob %>
</p>

<p>
  <strong>M first name:</strong>
  <%= @personal_detail.m_first_name %>
</p>

<p>
  <strong>M middle name:</strong>
  <%= @personal_detail.m_middle_name %>
</p>

<p>
  <strong>M last name:</strong>
  <%= @personal_detail.m_last_name %>
</p>

<p>
  <strong>M dob:</strong>
  <%= @personal_detail.m_dob %>
</p>

<p>
  <strong>Ref1 name:</strong>
  <%= @personal_detail.ref1_name %>
</p>

<p>
  <strong>Ref1 relation:</strong>
  <%= @personal_detail.ref1_relation %>
</p>

<p>
  <strong>Ref2 name:</strong>
  <%= @personal_detail.ref2_name %>
</p>

<p>
  <strong>Ref2 relation:</strong>
  <%= @personal_detail.ref2_relation %>
</p>

<%= link_to 'Edit', edit_personal_detail_path(@personal_detail) %> |
<%= link_to 'Back', personal_details_path %>
