 <div id="bestCarsCarousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#bestCarsCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#bestCarsCarousel" data-slide-to="1"></li>
          <li data-target="#bestCarsCarousel" data-slide-to="2"></li>
          <li data-target="#bestCarsCarousel" data-slide-to="3"></li>
          <li data-target="#bestCarsCarousel"data-slide-to="4"></li>
          <li data-target="#bestCarsCarousel" data-slide-to="5"></li>
          <li data-target="#bestCarsCarousel" data-slide-to="6"></li>
          <li data-target="#bestCarsCarousel" data-slide-to="7"></li>
          <li data-target="#bestCarsCarousel" data-slide-to="8"></li>
        </ol>
        <div class="carousel-inner header">

            <div class="item active">
                <%= image_tag("s10.jpg",class:"cors") %>
                <div class="carousel-caption">
                  <h3>Free Tution</h3>
                  <p>Have some free time, Volunteer for educating a child</p>
                </div>
           </div>
           <div class="item">
                <%= image_tag("s7.jpg",class:"cors")%>
                <div class="carousel-caption">
                  <h3>Car 2</h3>
                  <p>Lorem ipsum dolor sit amet, consectetur ...</p>
                </div>
            </div>
      
            <div class="item">
               <%= image_tag("s8.jpg",class:"cors")%>
              <div class="carousel-caption" >
                <h3>Car 3</h3>
                <p>Lorem ipsum dolor sit amet, consectetur ...</p>
              </div>
            </div>

             <div class="item">
               <%= image_tag("s9.jpg",class:"cors") %>
              <div class="carousel-caption" >
                <h3>Car 4</h3>
                <p>Lorem ipsum dolor sit amet, consectetur ...</p>
             </div>
             </div>

              <div class="item">
               <%= image_tag("1.jpg",class:"cors") %>
              <div class="carousel-caption" >
                <h3>Car 4</h3>
                <p>Lorem ipsum dolor sit amet, consectetur ...</p>
             </div>
             </div>
             <div class="item">
               <%= image_tag("2.jpg",class:"cors") %>
              <div class="carousel-caption" >
                <h3>Car 4</h3>
                <p>Lorem ipsum dolor sit amet, consectetur ...</p>
             </div>
             </div>
             <div class="item">
               <%= image_tag("3.jpg",class:"cors") %>
              <div class="carousel-caption" >
                <h3>Car 4</h3>
                <p>Lorem ipsum dolor sit amet, consectetur ...</p>
             </div>
             </div>
             <div class="item">
               <%= image_tag("4.jpg",class:"cors") %>
              <div class="carousel-caption" >
                <h3>Car 4</h3>
                <p>Lorem ipsum dolor sit amet, consectetur ...</p>
             </div>
            </div>
             <div class="item">
               <%= image_tag("ucare.jpg",class:"cors") %>
              <div class="carousel-caption" >
                <h3>Car 4</h3>
                <p>Lorem ipsum dolor sit amet, consectetur ...</p>
             </div>
            </div>
        </div>
          <a class="left carousel-control" href="#bestCarsCarousel" data-slide="prev">
             <span class="glyphicon glyphicon-chevron-left"></span>
          </a>
          <a class="right carousel-control" href="#bestCarsCarousel" data-slide="next">
              <span class="glyphicon glyphicon-chevron-right"></span>
          </a>
        </a>
      </div>
